.services {
}

.service__item {
  padding: 20px;
  display: flex;
  align-self: center;
  column-gap: 0.7rem;
  border-radius: 5px;

  i {
    font-size: 2.2rem;
    background: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-weight: 400 !important;
  }

  h3 {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
    font-size: var(--small-size);
  }

  p {
    font-size: 1.1rem;
    margin-top: 5px;
    color: #222;
  }
}

@media only screen and (max-width: 992px) {
  .service__item span i {
    font-size: 1.8rem;
    padding: 5px;
  }

  .service__item {
    margin-bottom: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .service__item {
    margin-bottom: 1rem;
  }
}
